@media all and (max-width: 1100px) {
  .list-view.editing .toolbar,
  .list-view.editing .contact-grid {
    display: none;
  }
}
a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

:root {
    --lumo-primary-color: #ff9100;
    --lumo-primary-color-50pct: rgba(255, 136, 0, 0.5);
    --lumo-primary-color-10pct: rgba(85, 64, 42, 0.1);

    --lumo-primary-text-color: #ff9100;
    --lumo-link-color: #ff9100;
    --lumo-focus-color: #ff9100;
}

